/* This is the global css for all the files */

@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 60px;
    margin: 50px;
}

